---
// Get Data
import siteSettings from '../../data/site-settings.json';

// Get Necessary Values
const { socialMedia } = siteSettings;
---

<div class="social-media">
    <ul class="social-media__list">
        {socialMedia.map(social => (
            <li class="social-media__item">
            <a href={social.pageUrl} target="_blank" rel="noopener noreferrer" class="social-media__link">
                <div class="social-media__icon" set:html={social.iconSVG}></div>
                <span class="social-media__name">{social.name}</span>
            </a>
            </li>
        ))}
    </ul>
</div>